.idea
build
dist
node_modules

# Integration test output from geth node
/geth.log
/.nyc_output/

# Logs
logs
*.log

# Directories used by tools like mocha & istanbul
coverage
shippable

# Shared artifacts
/contracts/**/*.json